
.navbar-link:not(.is-arrowless) {
    padding-right: 100px;
}

h1{
    font-size: 50px;
    font-weight: bold;
    color: blue;
    background-color: aquamarine;
    text-align: center;
}

.navbar{
    background-color: aquamarine;
    margin-bottom: 10px;
}

.navbar-brand{
    margin-left: auto;
    margin-right: auto;
}

.navbar-item {    
    color: blue;
    background-color: aquamarine;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    /* text-shadow: 0 0 black; */
}

.query-param{
    width: 20rem;
}

.date-param{
    width: 9.6rem;
}

.param-tile{
    margin-right: 5%;
}

/* .columns{
    margin-left: 5%;
} */
  
.container {
    background-color: gray;
    height: 300px;
    padding: 12px;
}

.column {
    background-color: pink;
    text-align: center;
}