
.navbar-link:not(.is-arrowless) {
    padding-right: 100px;
}

.navbar{
    background-color: orange;
    margin-bottom: 10px;
}

.navbar-brand{
    margin-left: auto;
    margin-right: auto;
}

.navbar-item {    
    color: blue;
    background-color: orange;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    /* text-shadow: 0 0 black; */
}

.query-param{
    width: 20rem;
}

.date-param{
    width: 9.6rem;
}

.param-tile{
    margin-right: 5%;
}

.columns{
    margin-left: 5%;
}
  
#logo{
    height: 6rem;
}