h3 {
  line-height: 1.5rem;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

h4 {
  line-height: 1.5rem;
  font-size: 16px;
  font-weight: bold;
}

.navbar {
  background-color: lightblue;
  font-size: 50px;
  font-weight: bold;
  border-bottom: 5px solid gold;
  animation: sky-change 1s ease-in forwards;
}

.navbar-brands {
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: "Marck Script", cursive;
    z-index: 1000;
  }

.brands{
  color: rgb(0, 0, 131);
}

.navbar-item {
  background-color: rgb(255, 145, 0);
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 50px;
}

.home-img {
  width: 100%;
  position: absolute;
  top: -5rem;
}

form{
  z-index: 10000;
  height: 22rem;
  position: absolute;
  top: 10rem;
  left: 5rem;
}

.form-area{
  background-image: url("https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/v1554924869/shape/mentalfloss/29007-istock-642987348_0.jpg?itok=MsXshrAK");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40rem;
}

.box{
  background-color:rgba(255, 255, 255, 0.8);
}

.query-param {
  width: 20rem;
}

.date-param {
  width: 10rem;
}

.param-tile {
  margin-right: 5%;
}

.container {
  height: auto;
  padding: 12px;
}

.footer {
  background-color: lightgray;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.portfolio-link{
  color: darkblue;
}

.column-title{
  text-align: center;
  font-size: 30px;
}

.card {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.animation-container{
  width: 200px;
  height: 74px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  transform: translateX(-50%);
  margin: 0 50%;
}

.sun {
  width: 100px;
  height: 50px; 
  background-color: gold;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px; 
  border: 1px solid gold;
  border-bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  animation: sun-shine 1s reverse ease-out forwards;
}

.sun-beam {
  position: absolute;
  width: 100px;
  height: 18px;
  width: 6px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background: gold;
}

.beam1{
  left: 50%;
  top: 50%;
  animation: shine1 1s reverse ease-out forwards;
}
.beam2{
  left: 80%;
  top: 25%;
  transform: rotate(45deg);
  animation: shine2 1s reverse ease-out forwards;
}
.beam3{
  left: 20%;
  top: 25%;
  transform: rotate(-45deg);
  animation: shine3 1s reverse ease-out forwards;
}
.beam4{
  left: 16%;
  top: 65%;
  transform: rotate(-75deg);
  animation: shine4 1s reverse ease-out forwards;
}
.beam5{
  left: 78%;
  top: 65%;
  transform: rotate(75deg);
  animation: shine5 1s reverse ease-out forwards;
}

@keyframes sky-change{
  from {background-color: rgb(2, 72, 95);}
  to {background-color: lightblue;}
}
@keyframes sun-shine{
  to {background-color: rgb(255, 94, 30);}
}
@keyframes shine1{
  0% {top: 15%; }
  100% {top: 50%; background-color: rgb(255, 94, 30);}
}
@keyframes shine2 {
  0% {left: 75%; top: 25%;}
  100% {left: 70%; top: 50%; background-color: rgb(255, 94, 30);}
}
@keyframes shine3 {
  0% {left: 25%; top: 25%;}
  100% {left: 30%; top: 50%; background-color: rgb(255, 94, 30);}
}
@keyframes shine4 {
  0% {left: 16%; top: 65%;}
  100% {left: 26%; top: 80%; background-color: rgb(255, 94, 30);}
}
@keyframes shine5 {
  0% {left: 78%; top: 65%;}
  100% {left: 68%; top: 80%; background-color: rgb(255, 94, 30);}
}